
/* Estilo general*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#E2F2CE; 
    color: black;
    margin: 0;
    padding:10;
}

/* Encabezado principal */
h1 {
    text-align: center;
    background-color: #6a0dad; 
    color: white;
    padding: 10px;
    padding-right:15px;
    padding-left:15px;
    margin:20px auto,20px;
   

}

/* Imagen del logotipo */
img {
    display: block;
    margin: 20px auto 15px;
}

/* Eslogan */
h3 {
    text-align: center;
    color: #red;
    font-style: blod;
    font-size:2.0rem;
    margin-bottom: 30px;
}

/* Línea divisora */
hr {
    border: none;
    height: 2px;
    background-color: red;
    margin: 30px auto;
    max-width: 900px;
}

/* Secciones principales */
section {
    background-color: #yellowgreen;
    max-width: 800px;
    margin: 0 auto 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Subtitulos */
h2 {
    font-family:"open sans",sans-serif;
    font-size:2.0rem;
    color: #6E0707;
    border-left: 6px solid #3c7dc0;
    padding-left: 10px;
    margin-top: 0;
}

/* Párrafos */
p {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family:Times,serif;

}

h4{
    padding-right:10rem;
    font-size:1.0rem;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#6E0707;
    text-align:center;

}

/* Lista de valores */
ul {
    padding-left:20px, 20px;
    font-size:1.0rem;
    font-family:sans-serif;

}

li {
    margin-bottom: 20px;
}

li strong {
    color: #013005;
}

/* Pie de página */
footer {
    background-color:yellowgreen; 
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 15px 10px;
    margin-top: 30px;
}
